/* You can add global styles to this file, and also import other style files */

* { font-size: 16px; }
html, body { min-height: 100%; }
body {
  width: 70%;
  margin: 0 auto 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    width: 90%
  }
}